@import '~variables.scss';

.mdl-layout {
	align-items: center;
  justify-content: center;
}
.mdl-layout__content {
	padding: 24px;
	flex: none;
}
.login-box {
  margin-left: auto;
  margin-right: auto;
}
.mdl-card__title {
  background: rgb(33,150,243);
  color: #fff;
}
